:root {
    --color-white: #fff;
    --color-white-secondary: #e0e0e0;
    --color-white-button: rgba(255, 255, 255, 0.80);
    --color-black: #000000;
    --color-dark-blue: #010a20;
    --color-gray: #6f7787;
    --color-light-gray: #bdc3c7;
    --color--dark-gray: #2c3e50;
    --color-red: #dd2242;
    
    --color-tabs: #1abc9c;
    --color-tab-border: #16a085;
  
    --font-size-base: 18px;    
    --font-weight-base: 400;
    --line-height-base: 1.5;

    --font-size-md: 20px;
    --font-weight-base: 700;
    --line-height-base: 1.5;    
  
    --font-title-lg: 120px;
    --font-title-md: 60px;
    --font-title-sm: 52px;
    --font-title-xs: 42px;
  } 